main.main 



	// SECTION SECTION Contacts
	
	section.contacts 
		.container 
			.row.row_justify_center
				.contacts_wrap 
					.row 
						.contacts_col 
							h2.contacts_title Филиал «Ахмедлы»
							h3.contacts_subtitle 
								| Адрес: Сараево 117 | 
								a(href="tel: +994512554451") Телефон: +994 51 255 44 51
							.contacts_map_wrap 
								#map_ahmedli.contacts_map 
						.contacts_col 
							h2.contacts_title Филиал «Нефтчиляр»
							h3.contacts_subtitle 
								| Адрес: пр. Гара Гараева 81 | 
								a(href="tel: +994512554453") Телефон: +994 51 255 44 53
							.contacts_map_wrap 
								#map_neftci.contacts_map 
						.contacts_col 
							h2.contacts_title Филиал «Иншаатчылар»
							h3.contacts_subtitle 
								| Адрес: Шарифзада 148 |
								a(href="tel: +994512554452")  Телефон: +994 51 255 44 52
							.contacts_map_wrap 
								#map_inshat.contacts_map 
						.contacts_col 
							h2.contacts_title Филиал «Сумгаит»
							h3.contacts_subtitle 
								| Адрес: 3 мкр., пр. Бабек |
								a(href="tel: +994512554454")   Телефон: +994 51 255 44 54
							.contacts_map_wrap 
								#map_sumq.contacts_map 

	
	// END SECTION Contacts