main.main 

	// SECTION PRODUCTS SLIDER 
	section.products 
		.container 
			.row.row_justify_center
				.main_category_menu_btn 
					h2.h2
						+icon('list', 'filter_ico lazyload blur_up') 
						| Категории 
				nav.products_menu 
					ul.products_menu_main 
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 1 
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items.products_menu_items_parent
									a(href="yandex.ru")  
										| SUB Category 2
									+icon('arrow1', 'menu_arrow')
									ul.products_menu_main.products_menu_lv3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
								li.products_menu_items.products_menu_items_parent
									a(href="yandex.ru")  
										| SUB Category 2
									+icon('arrow1', 'menu_arrow')
									ul.products_menu_main.products_menu_lv3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
								li.products_menu_items.products_menu_items_parent
									a(href="yandex.ru")  
										| SUB Category 2
									+icon('arrow1', 'menu_arrow')
									ul.products_menu_main.products_menu_lv3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
								li.products_menu_items.products_menu_items_parent
									a(href="yandex.ru")  
										| SUB Category 2
									+icon('arrow1', 'menu_arrow')
									ul.products_menu_main.products_menu_lv3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 3
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 4
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 5
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 6
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 2 
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items.products_menu_items_parent
									a(href="yandex.ru")  
										| SUB Category 2.1
									+icon('arrow1', 'menu_arrow')
									ul.products_menu_main.products_menu_lv3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3.1
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 3
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items.products_menu_items_parent
									a(href="yandex.ru")  
										| SUB Category 2.2
									+icon('arrow1', 'menu_arrow')
									ul.products_menu_main.products_menu_lv3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 3.2
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 4
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items.products_menu_items_parent
									a(href="yandex.ru")  
										| SUB Category 4.2
									+icon('arrow1', 'menu_arrow')
									ul.products_menu_main.products_menu_lv3
										li.products_menu_items
											a(href="yandex.ru")  
												| SUB Category 4.3
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 5 
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 5.2
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 6
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 6.2
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 7
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 7.2
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 8
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 8.2
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 9
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 9.2
									+icon('arrow1', 'menu_arrow')
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 10
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 10.2
									+icon('arrow1', 'menu_arrow')
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 11
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 11.2
									+icon('arrow1', 'menu_arrow')
						li.products_menu_items.products_menu_items_parent 
							a(href="yandex.ru")  
								img.lazyload.blur_up(data-src="images/main/icon/menu/cat1.svg", alt="Electro az category menu")
								| Category 12
							+icon('arrow1', 'menu_arrow')
							ul.products_menu_main.products_menu_lv2 
								li.products_menu_items
									a(href="yandex.ru")  
										| SUB Category 12.2
									+icon('arrow1', 'menu_arrow')

				.products_slider
					.products_slider_items 
						.products_slider_items_wrap 
							img(src="images/main/index/slider/2.jpg", alt="Electro company products")
							.slider_text_wrap
								h4.h4  Стиральная машина electrolux с фронтальной загрузкой
								p.text Получайте удовольствие с electrolux! 
							a.btn_products_link(href="#") Далее 
					.products_slider_items 
						.products_slider_items_wrap 
							img(src="images/main/index/slider/1.jpg", alt="Electro company products")
							.slider_text_wrap
								h4.h4  Стиральная машина electrolux с фронтальной загрузкой
								p.text Получайте удовольствие с electrolux! 
							a.btn_products_link(href="#") Далее 
	// END SECTION PRODUCTS SLIDER 


	// SECTION PRODUCTS CATEGORY 
	
	//- section.products_category 
	//- 	.container 
	//- 		.row.row_justify_center
	//- 			.products_category_col
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat1.png", alt="Search products category images") 
	//- 						h4.h4 телефоны
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat2.png", alt="Search products category images") 
	//- 						h4.h4 планшеты
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat3.png", alt="Search products category images") 
	//- 						h4.h4 компьютеры
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat4.png", alt="Search products category images") 
	//- 						h4.h4 фототехника
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat5.png", alt="Search products category images") 
	//- 						h4.h4 телевизоры
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat6.png", alt="Search products category images") 
	//- 						h4.h4 аудиотехника
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat7.png", alt="Search products category images") 
	//- 						h4.h4 часы
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat8.png", alt="Search products category images") 
	//- 						h4.h4 бытовая техника
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat9.png", alt="Search products category images") 
	//- 						h4.h4 малая бытовая техника
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat10.png", alt="Search products category images") 
	//- 						h4.h4 игры и развлечения
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat11.png", alt="Search products category images") 
	//- 						h4.h4 климатическая техника 
	//- 				a(href="yandex.ru") .products_category_box 
	//- 					.products_category_box_wrap
	//- 						img.lazyload.blur_up(data-src="images/main/index/cat12.png", alt="Search products category images") 
	//- 						h4.h4 мебель
	
	// END SECTION PRODUCTS CATEGORY 