// FOOTER
footer.footer
	.container
		.row.row_align_center
			.footer_social 
				a(href="#")
					+icon('fb', 'soc_ico lazyload blur_up') 
				a(href="#")
					+icon('in', 'soc_ico lazyload blur_up') 
				a(href="#")
					+icon('yt', 'soc_ico lazyload blur_up') 
			.footer_copyright 
				p.text copyright © 2019 all rights reserved

// END FOOTER



// VIDEO MODAL BOX 
#video_modal_box 
	.video_modal_box_wrap
		.video_modal_container 
			iframe(width='560', height='315', src='', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')