main.main_products

	// SECTION SINGLE PRODUCTS
	section.single_products 
		.container 
			.row.row_justify_between
				// PRODUCTS SLIDER
				.single_products_slider
					.single_products_slider_main
						.single_products_slider_items(data-slick-index="0")
							.single_products_slider_items_wrap 
								img(src="images/main/products/1.jpg", alt="Iphone 10 in electroAZ")
						//- .single_products_slider_items(data-slick-index="1")
						//- 	.single_products_slider_items_wrap 
						//- 		img(src="images/main/products/2.jpg", alt="Iphone 10 in electroAZ")
						//- .single_products_slider_items(data-slick-index="2")
						//- 	.single_products_slider_items_wrap 
						//- 		img(src="images/main/products/3.jpg", alt="Iphone 10 in electroAZ")
						//- .single_products_slider_items(data-slick-index="3")
						//- 	.single_products_slider_items_wrap 
						//- 		img(src="images/main/products/4.jpg", alt="Iphone 10 in electroAZ")
					//- comment me 
					.single_products_slider_nav 
						button.general_btn.modal_open_btn(data-toggle-modal="#video_modal_box" data-video-src="https://www.youtube.com/embed/DyX-QZZBgpw") Посмотреть видео 
					//- 	.single_products_slider_nav_items(data-slick-index="0")
					//- 		.single_products_slider_nav_items_wrap 
					//- 			img(src="images/main/products/1.jpg", alt="Iphone 10 in electroAZ")
					//- 	.single_products_slider_nav_items(data-slick-index="1")
					//- 		.single_products_slider_nav_items_wrap 
					//- 			img(src="images/main/products/2.jpg", alt="Iphone 10 in electroAZ")
					//- 	.single_products_slider_nav_items(data-slick-index="2")
					//- 		.single_products_slider_nav_items_wrap 
					//- 			img(src="images/main/products/3.jpg", alt="Iphone 10 in electroAZ")
					//- 	.single_products_slider_nav_items(data-slick-index="3")
					//- 		.single_products_slider_nav_items_wrap 
					//- 			img(src="images/main/products/4.jpg", alt="Iphone 10 in electroAZ")

					//- .single_products_slider_color 
					//- 	p.text 
					//- 		span Цвет: 
					//- 		span.color_name серебристый
					//- 	.single_products_slider_btn 
					//- 		.single_products_slider_btn_wrap 
					//- 			input(type="radio", name="color" checked)
					//- 			span(data-color-name="серебристый" style="background: #c0c0c0")
					//- 		.single_products_slider_btn_wrap 
					//- 			input(type="radio", name="color")
					//- 			span(data-color-name="серый" style="background: #666666")
				
				// END PRODUCTS SLIDER


				// PRODUCTS DESCRIPTION
				.single_products_description 
					.single_products_description_row 
						h5.h5 Диагональ экрана, 
						p.text 5.8 Дюймов
					.single_products_description_row 
						h5.h5 Гарантия
						p.text 1 год
					.single_products_description_row 
						h5.h5 Разрешение основной тыловой камеры
						p.text 12 Мпикс
					.single_products_description_row 
						h5.h5 Встроенная память
						p.text  64 ГБ
					.single_products_description_row 
						h5.h5 Размер оперативной памяти
						p.text  6 ГБ
					.single_products_description_row 
						h5.h5 Емкость аккумулятора
						p.text  3600 мАч
					.single_products_description_row 
						h5.h5 Разрешение экрана
						p.text  Full HD (1080)
					.single_products_description_row 
						h5.h5 Технология матрицы
						p.text  OLED
					.single_products_description_row 
						h5.h5 Число SIM-карт
						p.text  1
					.single_products_description_row 
						h5.h5 Форм-фактор SIM
						p.text  Nano-SIM
					.single_products_description_row 
						h5.h5 Назначение слотов
						p.text  SIM 1
					.single_products_description_row 
						h5.h5 Беспроводные подключения
						p.text  3G , 4G , EDGE , LTE , NFC , Wi-Fi 802.11a/b/g/n , Wi-Fi 802.11ac
					.single_products_description_row 
						h5.h5 Модуль связи Bluetooth
						p.text  5.0
					.single_products_description_row 
						h5.h5 Операционная система
						p.text  iOS
					.single_products_description_row 
						h5.h5 Навигация
						p.text  A-GPS , GPS , iBeacon , ГЛОНАСС
					.single_products_description_row 
						h5.h5 Разъемы
						p.text  Apple Lightning
					.single_products_description_row 
						h5.h5 Функции камеры
						p.text  Двойная камера
					.single_products_description_row 
						h5.h5 Разрешение фронтальной камеры
						p.text  7 Мпикс
					.single_products_description_row 
						h5.h5 Разрешение дополнительной тыловой камеры
						p.text  12 Мпикс
					.single_products_description_row 
						h5.h5 Материал корпуса
						p.text  Стекло , Нержавеющая сталь
				// END PRODUCTS DESCRIPTION



				// PRODUCTS OFFER
				.single_products_offer
					.single_products_offer_row 
						.single_products_offer_col 
							h3.h3 Смартфон Apple iPhone X 3/64GB, серебристый
						.single_products_offer_col 
							h4.h4 650 azn
							p.text 87 azn / aya
					.single_products_offer_edge_row 
						.single_products_offer_edge 
							+icon('card', 'edge_ico')
							.single_products_offer_text 
								p.text Безопасная оплата: 
								p.text Наличными, банковской картой и еще 2 cпособа
						.single_products_offer_edge 
							+icon('refund', 'edge_ico')
							p.text Возврат 14 дней
						.single_products_offer_edge 
							+icon('like', 'edge_ico')
							p.text Гарантия 1 год
					.single_products_offer_edge_row
						table
							tr 
								th N/a 
								th Периуд (Месяцев)
								th Первоначалная плата (AZN)
								th Месячная плата (AZN)
							tr 
								td 
									.table_credit_radio
										input(type="radio", name="credit_radio" checked)
										span 
								td 6 	
								td 120	
								td 90
							tr 
								td 
									.table_credit_radio
										input(type="radio", name="credit_radio")
										span 
								td 9 	
								td 120	
								td 65
							tr 
								td 
									.table_credit_radio
										input(type="radio", name="credit_radio")
										span 
								td 12 	
								td 120	
								td 55
							tr 
								td 
									.table_credit_radio
										input(type="radio", name="credit_radio")
										span 
								td 15 	
								td 120	
								td 40
							tr 
								td 
									.table_credit_radio
										input(type="radio", name="credit_radio")
										span 
								td 18 	
								td 120	
								td 30
							tr 
								td 
									.table_credit_radio
										input(type="radio", name="credit_radio")
										span 
								td 24  
								td 120 
								td 30 
					.single_products_offer_edge_row
						a.single_products_buy_link(href="#") Купить 

				// END PRODUCTS OFFER



	// END SECTION SINGLE PRODUCTS 