main.main_cat_page

	// SECTION PRODUCTS CATEGORY 
	section.cat_page_offset
		.container 
			.row.row_justify_center
				.products_category_col
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat1.png", alt="Search products category images") 
									h4.h4 телефоны
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat2.png", alt="Search products category images") 
									h4.h4 планшеты
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat3.png", alt="Search products category images") 
									h4.h4 компьютеры
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat4.png", alt="Search products category images") 
									h4.h4 фототехника 
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat5.png", alt="Search products category images") 
									h4.h4 телевизоры
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat6.png", alt="Search products category images") 
									h4.h4 аудиотехника		 
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat7.png", alt="Search products category images") 
									h4.h4 часы
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat8.png", alt="Search products category images") 
									h4.h4 бытовая техника	
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat9.png", alt="Search products category images") 
									h4.h4 малая бытовая техника
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat10.png", alt="Search products category images") 
									h4.h4 игры и развлечения					
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat11.png", alt="Search products category images") 
									h4.h4 климатическая техника 
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat12.png", alt="Search products category images") 
									h4.h4 мебель

								a(href="#").products_category_box 
									.products_category_box_wrap
										img.lazyload.blur_up(data-src="images/main/index/cat1.png", alt="Search products category images") 
										h4.h4 телефоны
								a(href="#").products_category_box 
									.products_category_box_wrap
										img.lazyload.blur_up(data-src="images/main/index/cat2.png", alt="Search products category images") 
										h4.h4 планшеты				 
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat3.png", alt="Search products category images") 
									h4.h4 компьютеры
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat4.png", alt="Search products category images") 
									h4.h4 фототехника
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat5.png", alt="Search products category images") 
									h4.h4 телевизоры
							a(href="#").products_category_box 
								.products_category_box_wrap
									img.lazyload.blur_up(data-src="images/main/index/cat6.png", alt="Search products category images") 
									h4.h4 аудиотехника

	// END SECTION PRODUCTS CATEGORY 