main.main_category 

	// CATEGORY SECTION
	section.search 
		.container 
			.row.row_align_start
				// FILTERING CONTENT
				.category_filtering_content 
					.category_filtering_content_name 
						h2.h2 Найдено по запросу:  "Мокрые товары артхаус"
					a(href="#").category_filtering_content_wrap
						.category_filtering_content_discount 
							p.text 10%
						.category_filtering_content_thumb 
							img.lazyload.blur_up(data-src="images/main/category/2.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/2.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить			
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img.lazyload.blur_up(data-src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img.lazyload.blur_up(data-src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img.lazyload.blur_up(data-src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap
						.category_filtering_content_thumb 
							img.lazyload.blur_up(data-src="images/main/category/2.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/2.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить		
					a(href="#").category_filtering_content_wrap 
						.category_filtering_content_thumb
							img(src="images/main/category/1.png", alt="Electro company products")
						.category_filtering_content_text 
							h5.h5 Apple iPhone X 
							p.text_descr 3/64GB
						.category_filtering_content_price 
							.category_filtering_content_price_wrap 
								p.text 650 azn
								p.text_descr 87 azn / мес
							.btn_buy_link(href="#") Купить			
					
					// PAGINATION
					.pagination 
						ul
							li.prev_content_page 
								a(href="#")
									+icon('arrow', 'pag_ico  lazyload blur_up')
							li.active_content_page 
								span 1 
							li 
								a(href="#") 2 
							li 
								a(href="#") 3 
							li 
								a(href="#") 4
							li 
								a(href="#") 5
							li 
								a(href="#") 6
							li 
								a(href="#") 7
							li 
								span ...
							li 
								a(href="#") 21
							li.next_content_page 
								a(href="#")
									+icon('arrow', 'pag_ico lazyload blur_up')

					// END PAGINATION 
				// END FILTERING CONTENT
	
	// END CATEGORY SECTION
